<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Huanahong - หัวหน้าห้อง DEMO </title>


</head>
<body>
    <h1 align="center">Huanahong DEMO</h1>
    <table class="table table-bordered">
        <thead >
            <tr>
                <th>ID</th>
                <th>ชื่อ</th>
                <th>นามกสุล</th>
                <th>เบอร์โทรศัพท์</th>
                <th>Action</th>
            </tr>
        </thead>
       <tbody>
            <tr>
                <td>{{data}}</td>
                <td>อัมรินทร์</td>
                <td>เลาหจีรพันธุ์</td>
                <td>0633242696</td>
                <td>
                    <a href="" target="_blank" rel="noopener noreferrer">Edit</a>
                    <a href="" target="_blank" rel="noopener noreferrer">Delete</a>
                </td>
            </tr>
        <!-- {% for row in datas %} -->
            <tr>
                <!-- <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td> -->
            </tr>
        <!-- {% endfor %} -->
            
       </tbody>
    </table>

    <hr>
   
</body>
</html>